.itemCards{
  width: 100%;
  text-align: center;
}

.itemCards ol {
  max-width: 800px;
  margin: 0 auto;
}

.itemCards ol li {
  margin-bottom: 1em;
}

.totalPrice{
  text-align: end;
  margin-right: 230px;
  padding-bottom: 20px;
}