.cart-container{
  padding: 30px;
}

.cart-container a {
  font-weight: 500;
  font-size: 20px;
  text-decoration:underline;
}

.cart-container h2 {
  padding-bottom: 25px;
  color: #191919;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.itemCards{
  text-align: center;
}

.itemCards ol {
  max-width: 800px;
  margin: 0 auto;
}

.itemCards ol li {
  margin-bottom: 1em;
}

.totalPrice{
  text-align: center;
  padding-bottom: 20px;
}

.order-btn{
  margin-left: 20px;
}

.catalog-btn {
  margin-top: 10px;
}

.cart-img {
  margin: 0 auto;
}

.emptyCart {
  font-size: 16px;
}