.main-content h2 {
  padding-bottom: 25px;
  color: #191919;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-content h2 b{
  letter-spacing: 1.5px;
  color: rgb(77, 3, 3);
}

.reviewsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

.review {
  display: flex;
  flex-direction: row;
}

.reviewContent{
  background-color: rgb(249, 236, 236);
  opacity : 0;
  width: 65%;
  margin-bottom: 20px;
  padding: 10px 10px;
  border: 1px solid #cbcbcb;
  border-radius: 30px;
  transition: opacity 1s ease-in-out;
}

.animate {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.left {
  justify-content: start;
}

.right {
  justify-content: end;
}

.pagination {
  margin: 0 auto;
}

.reviews-login {
  padding: 25px 0;
}
