.flex-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.flex-wrapper p, .flex-wrapper h1, .flex-wrapper h2 {
  /* color: black; */
}

.sidebar-container {
  width: 20%;
  border-right: 6px solid rgb(192, 205, 225);
  background: rgb(244, 246, 250);
  min-height: calc(100vh - 129px);
}

.catalog-container {
  width: 80%;
  min-height: calc(100vh - 129px);
}