.flex-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.flex-wrapper p, .flex-wrapper h1, .flex-wrapper h2 {
  color: black;
}

.sidebar-container {
  width: 20vw;
  border-right: 1px solid black;
  background-color: rgb(29, 41, 59);
  min-height: 100vh;
}

.catalog-container {
  width: 80vw;
  min-height: 100vh;
}