.flex-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar-container {
  width: 20%;
  border-right: 6px solid rgba(134, 22, 22, 0.553);
  background: rgb(250, 244, 244);
  min-height: calc(100vh - 129px);
}

.catalog-container {
  width: 80%;
  min-height: calc(100vh - 129px);
}