.header-container{
  width: 100%;
  margin: 0 auto ;
  background-color: rgb(0, 0, 0);
}

.navbar {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.096);
  max-width: 1160px;
}

.logo{
  width: 120px;
  height: 60px;
}

.cart_wrapper {
  position: relative;
}

.countInCart {
  padding-right: 1px;
  font-size: 14px;
  line-height: 1.5em;
  display: block;
  position: absolute;
  top: 10px;
  left: -12px;
  width: 19px;
  height: 19px;
  background-color: rgb(56, 82, 253);
  color: white;
  border-radius: 30%;
}

.disabled { 
  display: none;
}