@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: #353535;
  overflow-y: scroll;
  text-align: center;
}

.flexWrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body table, body fieldset {
  margin: 0;
}

.mainContainer {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto ;
  flex-grow: 1;
  background-color: #f3f3f3;
}

footer {
  border-top: 1px solid grey;
  text-align: center;
  padding: 20px 0;
  background-color: rgb(185, 185, 185);
}

