.notFoundPage {
  margin: 36vh auto;
  padding: 4vh 0;
  border-top: 1px solid rgb(92, 92, 92);
  border-bottom: 1px solid rgb(92, 92, 92);
}

.notFoundPage p, .notFoundPage h1, .notFoundPage h2 {
  font-size: 20px;
  color: rgb(24, 24, 24);
}