.notFoundPage {
  margin: 36vh auto;
  padding: 4vh 0;
  border-top: 1px solid rgb(92, 92, 92);
  border-bottom: 1px solid rgb(92, 92, 92);
  color: rgb(24, 24, 24);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.notFoundPage a {
  text-decoration: underline;
}

.notFoundPage h1{
  color: rgb(180, 18, 18);
  font-weight: 700;
  font-size: calc(100% + 1vw);
  font-family: 'Barlow Condensed', sans-serif;
  font-style: normal;
  line-height: normal;
}